<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Proof</title>
<link href="style.css" rel="stylesheet" type="text/css">
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<style type="text/css">
.body {
    text-align: center;
    margin: 0px auto;
    width: {{image-width}}px;
    max-width: 100%;
    height: {{image-height}}px;
    background: url({{image-path}}) top center no-repeat;
    display: block;
}

body {
    margin: 0px;
    padding: 0px;
}
</style>
</head>
<body>
  <section class="body"></section>
  <section class="left">
    <a href="{{prev-url}}"><i class="fa fa-chevron-left"></i></a>
  </section>	
  <section class="right">
    <a href="{{next-url}}"><i class="fa fa-chevron-right"></i></a>
  </section> 
</body>
</html>
